@charset "UTF-8";

header{
    width: 1000pt;
    margin-bottom: -12pt;
    padding: 0;
    background-color: #ffcccc;
}

#wrapper{
    width: 1000pt;
    display: flex;
}

#main{
    width: 700pt;
    background-color: #ccffcc;
}

#menu{
     width: 300pt;
    background-color: #ccccff;
}

footer{
    width: 1000pt;
    margin-top: -12pt;
    background-color: #ffccff;
}